<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Alertas de Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alertas.css') }}">
</head>

<body>
    <div class="container">
        <h1>Alertas de stock</h1>
        <p class="subtitle">
            Productos con alta rotación y pocos días de inventario disponible.
        </p>

        <div class="card">

            <div class="summary">
                <span>Total de alertas: <strong>{{ alertas|length }}</strong></span>
            </div>

            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Sucursal</th>
                            <th>Nombre Sucursal</th>
                            <th>Artículo</th>
                            <th>Descripción</th>
                            <th>Rotación diaria</th>
                            <th>Stock</th>
                            <th>DOI (días)</th>
                            <th>Riesgo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in alertas %}
                        <tr>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>

</html>